.select2{
    width: 300px; 
    margin: 1.5em; 
    display: inline-block;

}

.btn-recherche{
    display: inline-block; 
    margin-bottom: 0.5em;
}

#recherche{
    display:block;
}

.card-img-top{
    height: 200px; 
    width: 132px; 
    margin-left: auto; 
    margin-right: auto;
}

.card{
    width: 18rem; 
    margin-bottom: 2em;
}

#pagination-container{
    text-align: center;
} 

#pagination{
    display:inline-block;
} 

.card-title{
    text-align: center;
}

#message{

    text-align: center;
    font-size: x-large;
    margin-top: 16.55em;
    margin-bottom: 16.55em;
}

body{
    margin-top: 4em;
}

.navbar-brand{
    font-size: x-large !important;
}

.prix{
    font-weight: lighter !important;
}

.titre{
    display: block;
    height: 2em;
}

.espace{
    display: block;
    height: 0.7em;
}

.panier{
    display: inline-block;
    
}

.panier_container{

    text-align: center;
    min-height: 50.1em;
}

.ctrl_panier{
    width: 2em;
}

td:first-child{
    width: 500px;
}




/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #5d706f4d;
    color: rgb(0, 0, 0); */


